.matTitle{
    display: flex;
    justify-content: center;
    border: 1px solid rebeccapurple;
    border-top: 0px;
    margin: 3px;
}

#content{
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.inputfes{
    margin-left: 73px;
}

.labels{
    margin-left: 12px;
}

.inputItems{
    height: 30px;
}

.placeBot{
    margin-top: 150px;
    bottom: -180px;
    justify-content: right;
}

#btnSec{
    margin-left: 3px;
}